.group-result {
  .group-image {
    float: left;
  }

  .group-name {
    font-weight: $gl-font-weight-bold;
  }

  .group-path {
    color: $gray-300;
  }
}

.project-result {
  .project-name {
    font-weight: $gl-font-weight-bold;
  }

  .project-path {
    color: $gray-300;
  }
}

.user-result {
  min-height: 24px;
  display: flex;
  align-items: center;

  .user-image {
    float: left;
  }

  &.no-username {
    .user-name {
      line-height: 24px;
    }
  }
}

.approvers-select {
  width: calc(70% - #{$gl-spacing-scale-5});

  .gl-new-dropdown-toggle {
    width: 100%;
  }

  .dropdown-menu {
    width: 100%;
    @include gl-max-w-none;
  }

  .gl-dropdown-item-check-icon {
    display: none;
  }
}
