- only_key_value = local_assigns.fetch(:only_key_value, false)

%li.ci-variable-row.m-0.d-none.d-sm-block
  .d-flex.w-100.gl-align-items-center.pb-2
    .bold.table-section.section-15.gl-mr-3
      = s_('CiVariables|Type')
    .bold.table-section.section-15.gl-mr-3
      = s_('CiVariables|Key')
    .bold.table-section.section-15.gl-mr-3
      = s_('CiVariables|Value')
    - unless only_key_value
      .bold.table-section.section-20
        = s_('CiVariables|State')
    .bold.table-section.section-20
      = s_('CiVariables|Masked')
    = render_if_exists 'ci/variables/environment_scope_header'
